{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-between py-2 px-5">
        <h1>Utilisateurs</h1>
    </div>

    <div class="overflow-x-scroll w-100">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Session</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>CodePostal</th>
                    <th>Ville</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.session %}<span class="perso-badge-primary">{{ user.session.name }}</span>{% else %} - {% endif %}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.zipcode }}</td>
                    <td>{{ user.town }}</td>
                    <td>
                        <a class="button button-perso-primary" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                        <a class="button button-perso-secondary " href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
